<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            <h1>Login</h1>
                            <p class="text-muted">Sign In to your account</p>
                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="row">
                                <div class="col-6" [hidden]="!isUserLoggedIn()">
                                    <button type="button" class="btn btn-primary px-2" (click)="login()">Login</button>
                                </div>
                                <div class="col-6" [hidden]="isUserLoggedIn()">
                                    <button type="button" class="btn btn-primary px-2" (click)="logout()">Logout</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
                        <div class="card-block text-center">
                            <div>
                                <h2>Sign up</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <button type="button" class="btn btn-primary active mt-1">Register Now!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--nav>
        <div class="nav-wrapper blue darken-3">
            <a href="#" class="brand-logo">Firebase Authentication in Angular2</a>
            <ul class="right hide-on-med-and-down">
            <li [hidden]="isUserLoggedIn()">
                <div class="row">
                <div class="col s3">
                    <img src="{{user.photoURL}}" alt="" class="circle responsive-img" style="margin-top:20%;">
                </div>
                <div class="col s9">
                    <span>
                        {{user.displayName}}
                    </span>
                </div>
                </div>
            </li>
            <li [hidden]="isUserLoggedIn()">
                <a class="waves-effect waves-light btn blue" (click)="logout()">
                    Logout
                </a>
            </li>
            </ul>
        </div>
        </nav>
        <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center blue-text text-darken-3">Latest Angular2 articles!</h1>
            <div class="row center" [hidden]="!isUserLoggedIn()">
            <h5 class="header col s12 light">Login with your Google account to see the list</h5>
            </div>
            <div class="row center" [hidden]="!isUserLoggedIn()">
            <a class="waves-effect waves-light btn blue" (click)="login()">Login</a>
            </div>
            <br><br>
        </div>
        </div>

        <div class="section no-pad-bot blue-text text-darken-3" [hidden]="isUserLoggedIn()">
            <div class="container">
                <ul class="collection with-header">
                </ul>
            </div>
        </div-->
    </div>
</div>
