<div class="animated fadeIn">
     <div class="row">
        <div class="col-sm-6 col-lg-6" (click)="level()" role="button">
            <div class="card card-inverse card-warning">
                <div class="card-block pb-3 text-center">
                    <h1 class="mb-3">S1</h1>
                    
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-6" (click)="level()" role="button">
            <div class="card card-inverse card-danger">
                <div class="card-block pb-3 text-center">
                    <h1 class="mb-3">S2</h1>
                    
                </div>
            </div>
        </div>
    </div>
</div>
