<h1></h1>
<div class="animated fadeIn">
     <div class="row">
        <div class="col-sm-6 col-lg-6" (click)="semestre()" role="button">
            <div class="card card-inverse card-primary">
                <div class="card-block pb-3 text-center">
                    <h1 class="mb-3">2016 - 2017</h1>
                    
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-6" (click)="semestre()" role="button">
            <div class="card card-inverse card-info">
                <div class="card-block pb-3 text-center">
                    <h1 class="mb-3">2015 - 2016</h1>
                    
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-6" (click)="semestre()" role="button">
            <div class="card card-inverse card-warning align-items-center">
                <div class="card-block pb-3 text-center">
                    <h1 class="mb-3">2014 - 2015</h1>
                    
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-6" (click)="semestre()" role="button">
            <div class="card card-inverse card-danger">
                <div class="card-block pb-3 text-center">
                    <h1 class="mb-3">2013 - 2014</h1>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>
